Intermediate/
Binaries/
Saved/
Plugins/*/Intermediate/
.vs/

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.exe
*.out
*.app
*.ipa
*.lai
*.la
*.a
*.dll